root = true

[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]

cpp_generate_documentation_comments = doxygen_triple_slash

# Visual C++ include 清理设置

cpp_include_cleanup_add_missing_error_tag_type = none
cpp_include_cleanup_remove_unused_error_tag_type = none
cpp_include_cleanup_optimize_unused_error_tag_type = none
cpp_include_cleanup_sort_after_edits = false
cpp_include_cleanup_format_after_edits = false
cpp_sort_includes_error_tag_type = none
